:root {
    --white: white;
    --black: black;
  }
  
  .w-layout-blockcontainer {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  @media screen and (max-width: 991px) {
    .w-layout-blockcontainer {
      max-width: 728px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .w-layout-blockcontainer {
      max-width: 100%;
    }
    .display{
      margin: 0 50px;
    }
  }
  
  .paragraph {
    width: 466px;
    margin-top: 60px;
    margin-bottom: 0;
    padding-top: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 300;
  }
  
  .container {
    max-width: 90vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
  }
  
  .div-block {
    flex: none;
  }
  
  .heading {
    font-family: Bungee, sans-serif;
    font-size: 65px;
  }

  @media screen and (min-width: 991px) {
    .heading {
      margin-top: 110px;
    }
  }
  
  .body {
    line-height: 30px;
  }
  
  .div-block-2 {
    width: 630px;
    height: 630px;
    border: 1px solid #000;
    border-radius: 10px;
    flex: none;
    box-shadow: 0 15px 20px 10px rgba(0, 0, 0, .2);
    font-family: Montserrat, sans-serif;
  }
  
  .bg-6-boxes {
    z-index: -1;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .div-block-4 {
    background-color: #ed775b;
  }
  
  .div-block-5 {
    background-color: #f3e7d7;
  }
  
  .div-block-6 {
    background-color: #f5ae56;
  }
  
  .div-block-7 {
    background-color: #e0b797;
  }
  
  .div-block-8 {
    background-color: #c6e0d3;
  }
  
  .div-block-9 {
    background-color: #018780;
  }
  
  .section {
    padding-top: 23px;
  }
  
  .text-block2 {
    color: #020887;
    font-family: Bungee, sans-serif;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
  }
  
  .text-block {
    color: #ff9b80;
    font-family: Bungee, sans-serif;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 5px;
  }
  
  @media screen and (max-width: 991px) {
    .container {
      flex-direction: column;
    }
  
    .div-block, .div-block-2 {
      margin-bottom: 60px;
      margin-left: auto;
      margin-right: auto;
      height: auto;
    }
  }

  @media (min-width: 479px) and (max-width: 767px) {
    .div-block-2 {
      width: auto;
    }
  }
  
  @media screen and (max-width: 479px) {
    .paragraph {
      width: 100vw;
      margin: auto;
      font-size: 22px;
    }
  
    .heading {
      text-align: center;
      font-size: 40px;
    }
    .display{
      padding: 10px;
    }
    .div-block-2 {
      width: auto;
      height: auto;
      margin-bottom: 0px;
    }
    .operations{
      margin-left: 10px;
    }
  }

  /* /////// */

  .boundary {
    display: flex;
    justify-content: center;
}

/*Display Box*/

.display {
  background-color: white;
  height: 5vw;
  width: 100%;
  border: 2px solid blue;
  margin-top: 15px;
  margin-bottom: 0.5vw;
  text-align: right;
  font-size: 32px;
}
.grid {
  display: grid;
  grid-template-columns: 70% 30%;
}
.numerics {
  display: grid;
  grid-template-columns: auto auto auto;
  height: max-content;
}
.numericItems {
  text-align: center;
  font-size: 32px;
  background-color: #EEEEEE;
  margin: 5px;
  cursor: pointer;
  padding: 3vw;
}
.operations{
  padding: 1vw;
  cursor: pointer;
}

.operationItems {
  background-color: #D1D1D1;
  text-align: center;
  padding: 2vw;
  font-size: 32px;
  margin: 5px;
}

#clear {
  font-size: 2.4vw;
  padding: 2vw 1vw;
}
.equal {
  background-color: #8D7BF3;
  color: white;
  font-size: 60px;
}

/*Hovers*/
.div-block-2:hover {
  background-color: #E3E7E9; /* Change this to your desired color */
}

.numericItems:hover {
  background-color: #8D7BF3;
}
.equal:hover {
  background-color: #F5A30B;
}
.operationItems:hover {
  background-color: #F5A30B;
}

@media screen and (max-width: 767px) {
  .display{
    width: 80vw;
    font-size: 6vw;
  }
  .paragraph{
    width: 100%;
  }
}